<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @step.instruction %>
</p>

<p>
  <strong>Image:</strong>
  <%= @step.image %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
